numpy==1.9.1
scipy==0.14.0
pandas==0.14.1
ipython[notebook]==2.3.1
scikit-learn==0.15.2
matplotlib==1.4.2
fats==1.2.0
statsmodels==0.6.1
patsy==0.3.0
nose==1.3.4
Sphinx==1.2.3
pygments==2.0.1
theano==0.6
llvmlite==0.2.2
numba==0.22.0
enum34==1.0.4
funcsigs==0.4
cython==0.22
psutil==2.2.1
h5py==2.5.0
seaborn==0.6.0
